@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,300&display=swap");
* {
  font-family: "Barlow Condensed", sans-serif;
}
body {
  background-image: url("./img/fondo.jpg") !important;
  box-sizing: border-box;
}
