@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
body {
  margin: 0;
}
.mt1 {
  margin-top: 0em;
}
.fs1 {
  font-size: 3.5em;
}
.hdiv {
  height: 6em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 {
  font-size: 14vh;
  font-family: "Shadows Into Light", cursive;
}

.spcolor {
  color: rgb(14, 165, 26);
}
